@font-face {
  font-family: 'Dosis-Regular';
  src:
    url(/assets/Dosis-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src:
    url(/assets/TitilliumWeb-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Dosis-Regular', Arial;
  font-weight: bold;
  margin: 40px;
  text-align: center;
}

body {
  font-family: 'TitilliumWeb', serif;
  font-size: 20px;
  line-height: 30px;
  color: #555;
}

.well strong {
  color: red;
}
